
<%- layout('../layouts/boilerplate.ejs') %>
<script>
  const Token="<%=process.env.MAP_TOKEN%>"
  let listing =<%-JSON.stringify(listing)%>;

</script>

<style>
  .listing-card {
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 500px;
    margin-left: 30%;
    
  }
  #map { 
    height: 400px;
    width: 60vh;
  }
  .listingcardbody {
    padding: 20px;
  }
  .card-title {
    color: #333;
  }
  .card-text {
    color: #666;
  }
  .btn {
    border-radius: 5px;
    margin-top: 10px;
  }
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  .btn-danger:hover {
    background-color: #c82333;
    border-color: #bd2130;
  }
  .card-img {
    max-width: 100%;
    max-height: 300px; 
    height: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .buttons{
    display: flex;
  }
  h2{
    text-align: center;
    font-style: italic;
    color: #bd2130;
  }
</style>

<body>
  <h2><%= listing.title %></h2>
  <div class="listing-card">
    <img src="<%= listing.image.url %>" class="card-img" alt="Listing Image">
    <div class="card-body listingcardbody">
      <p class="card-text">owned by ! <%= listing.owner.email %></p>
      
      
      
      <p class="card-text"><%= listing.description %></p>
      <p class="card-text">&#8377;<%= listing.price.toLocaleString("en-IN") %> </p>
      <p class="card-text"><strong>Location:</strong> <%= listing.location %></p>
      <p class="card-text"><strong>Country:</strong> <%= listing.country %></p>
     <div class="buttons">
       
      <% if (user && user._id.equals( listing.owner._id)) { %>
        <form action="/listing/<%= listing.id %>/edit" method="GET">
          <button type="submit" class="btn btn-primary">Edit</button>
        </form>
        <form action="/listing/<%= listing.id %>?_method=DELETE" method="POST">
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
      <% } %>
      

    
    

      
  
  
      
      <% if(user){%>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#review">
          write a review
        </button>

      <%}%>
      
      
      
     </div>
     <div class="modal fade" id="review" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">review form</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
         <div class="modal-body">
          <form class="needs-validation" action="/listing/<%= listing.id %>/reviews" method="post" novalidate>
            <div class="form-group">
              <label for="rate">Rating</label>
              
              <fieldset class="starability-basic">
                <legend>First rating:</legend>
                <input type="radio" id="no-rate" class="input-no-rate" name="rate" value="1" checked aria-label="No rating." />
                <input type="radio" id="first-rate1" name="rate" value="1" />
                <label for="first-rate1" title="Terrible">1 star</label>
                <input type="radio" id="first-rate2" name="rate" value="2" />
                <label for="first-rate2" title="Not good">2 stars</label>
                <input type="radio" id="first-rate3" name="rate" value="3" />
                <label for="first-rate3" title="Average">3 stars</label>
                <input type="radio" id="first-rate4" name="rate" value="4" />
                <label for="first-rate4" title="Very good">4 stars</label>
                <input type="radio" id="first-rate5" name="rate" value="5" />
                <label for="first-rate5" title="Amazing">5 stars</label>
              </fieldset>
              <div class="invalid-feedback">Please provide a rating.</div>
              
            </div>
            <div class="form-group">
                <label for="review">Review</label>
                <textarea class="form-control" id="review" name="review" rows="5" cols="30" required></textarea>
                <div class="invalid-feedback">Please provide a review.</div>
            </div>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
            <button type="submit" class="btn btn-primary">Save changes</button>
            
        </form>
        
          </div>
         
        </div>
      </div>
    </div>
     
<hr>
<hr>
<% if(listing.review.length > 0) { %>
  <h3>All Reviews</h3>
  <% for (let review of listing.review) { %>
    <div class="card" id="reviewcard">
      <div class="card-body">
        <h5 class="card-title"><%= review.author.username %></h5>
        <p class="starability-result" data-rating="<%= review.rating %>">
          Rating: <%= review.rating %>
        </p>
        <p class="card-text">Review: <%= review.review %></p>
        <form action='/listing/<%= listing.id %>/reviews/<%=review.id%>?_method=DELETE' method="post">
          <button type="submit" class="btn btn-sm btn-danger">Delete review</button>
        </form>
      </div>
    </div>
  <% } %>
<% } %>

<h3>where will you be</h3>
<div id="map"></div>










   
    <script src="/script.js/validation.js"></script>
    <script src="/script.js/map.js"></script>
 


</body>